/* CUSTOM PROPERTIES */

:root {
  --blue: #666ca3;
  --black: #13183f;
  --gray: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
  --gradient-1: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  --gradient-2: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
  --gradient-1-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient-2-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

/* FONTS */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: unset;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--gray);
  font-family: "Plus Jakarta Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

/* BTNS */

.btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 14px 32px;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border-radius: 28px;
  transition: opacity 0.3s ease;
}

.btn:active {
  opacity: 0.6;
}

.btn--black {
  background-color: var(--black);
}

.btn--black:hover {
  background-color: var(--blue);
}

.btn--gr-1 {
  background-image: var(--gradient-1);
}

.btn--gr-1:hover {
  background-image: var(--gradient-1-hover);
}

.btn--gr-2 {
  background-image: var(--gradient-2);
}

.btn--gr-2:hover {
  background-image: var(--gradient-2-hover);
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* ELEMENT HIDER */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header {
  padding: 24px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 111px;
  height: 27px;
}

/* HERO */

.hero {
  padding: 63px 0;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  max-width: 457px;
}

.hero__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.hero__img-wrapper {
  margin-right: 55px;
  position: relative;
}

.hero__info {
  background-color: var(--white);
  display: inline-block;
  padding: 20px 24px;
  box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);
  border-radius: 15px;
}

.info--member {
  min-width: 155px;
  position: absolute;
  top: 103px;
  right: -118px;
}

.info__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  display: block;
}

.info__count {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: var(--black);
}

.info--course {
  min-width: 199px;
  position: absolute;
  bottom: 98px;
  left: -120px;
}

.hero__img {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 158.5px;
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
